---
layout: default
title: Homepage
---

<div class="home">

  <div style="overflow:hidden;margin-bottom:1rem;">
    <img class="portrait" src="/images/ryan-atkins-portrait.jpg" alt="Ryan Atkins" style="float:left;">
    <img src="/images/spaceneedle.jpg" alt="Seattle" style="float:right;width:30rem;">
  </div>

  I have a passion for understanding how society uses emerging technology to continually reinvent its relationship with reality. I believe that this process is inherently artistic and uniquely human, for better and worse. I try to make a positive impact by being an active and organizing member of the local emerging technology and startup communities. I spent two years founding, and ultimately ending, a startup intent on building content delivery infrastructure for immersive applications. Most recently I've helped co-organized a Seattle blockchain conference and have been producing a web series that aims to give a behind the scenes look at the companies and individuals working to advance spatial computing. 

  <br><br>
  <hr>
  <br>

  <h2>Thoughts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<br><br>
<hr>
<br>

<h2>Public Events</h2>

<ul class="event-list">
  {% for event in site.data.events reversed %}
    <li class="event-item">
      <h3 class="event-item__title">{{ event.title }}</h3>
      <p class="event-item__date">{{ event.date | date: "%b %-d, %Y" }}</p>
      <p class="event-item__location">{{ event.location }}</p>
      <a class="event-item__link" href="{{ event.link }}">Event Link</a>
    </li>
  {% endfor %}
</ul>