<li class="resource-summary">
    <p class="resource-summary__title">
        <a class="resource-summary__link" href="{{ include.resource.link }}">{{ include.resource.title }}</a>
    </p>
    <p class="resource-summary__author-name">
        <a class="resource-summary__author-link" href="{{ include.resource.author.link }}">{{ include.resource.author.name }}</a>
    </p>
</li>