@font-face {
  font-family: "Akrobat";
  src: url("/fonts/akrobat-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/akrobat-bold.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/akrobat-black.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Zuric";
  src: url("/fonts/322123_2_0.woff2") format("woff2");
}

@font-face {
  font-family: "Zuric";
  src: url("/fonts/322123_3_0.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Zuric";
  src: url("/fonts/322123_1_0.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Zuric";
  src: url("/fonts/322123_0_0.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}