/**
 * Resource summary
 */
.resource-summary {
    margin-bottom: 2rem;

    &__title {
        font-size: 1.3rem;
        margin: 0;
    }

    &__link {

    }

    &__author {
        &-name {
            margin: 0;
        }

        &-link {
        }
    }
}